# Puerto del servidor
PORT=3000

# URI de conexión a MongoDB
DB_URI=mongodb+srv://pablofranb:Tejar2005@clusterpablo.s2yebh8.
# Clave secretaJWT
JWT_SECRET=0f700d857a5787f2b69188ef441f58ed1e32064cd35265cd52055cbb84a5718a

# URL pública base del backend (opcional, útil para logos/archivos)
PUBLIC_URL=http://localhost:3000PORT=3000
JWT_EXPIRES_IN=2h