PORT=3000
PUBLIC_URL=http://localhost:3000
DB_URI=mongodb+srv://user:password@cluster.mongodb.net/mi_api
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK=https://hooks.slack.com/services/XXX/XXX/XXX
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
